.about {
    padding: 0 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &__h2 {
        margin-top: 12px;
        font-size: 30px;
        font-weight: 400;
    }

    &__front {
        width: 280px; 
        margin: 0 auto;
        // height: 100%;
        // height: auto;
        margin-bottom: 60px;
        border-radius: 2px;
        // object-fit: cover;
        // object-position: top;
    }

    &-item {
        flex: 0 0 58%;
        max-width: 46%;
        // max-height: 500px;
        // overflow: hidden;
        position: relative;

        &:first-child {
            display: flex;
            justify-content: center;
            flex: 0 0 40%;
        }
    }

    &__text {
        color: $text-color;
        line-height: 1.5;
        margin-bottom: 48px;
    }
}

.progress-bar {

    &__text {
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $line-color;
        position: relative;

        &::before {
            content: "〉";
            color: $red-color;
            display: block;
            width: 6px;
            height: 11px;
            position: absolute;
            left: -5px;
            top: calc(50% - 8px);
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            height: 2px;
            width: 0%;
        }
    }

    &__percent {
        opacity: 0;
    }
}

.progress-bar__percent.animate {
    animation: 1.5s 1s ease both visiblePercent;
}

@keyframes visiblePercent {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar__line.progress-bar--html.animate::after {
    animation: 1.5s ease both draw;
}

@keyframes draw {
    0% {
        background-color: transparent;
        width: 0%;
    }

    100% {
        background-color: $red-color;
        width: 90%;
    }
}

.progress-bar__line.progress-bar--php.animate::after {
    animation: 1.5s ease both draw2;
}

@keyframes draw2 {
    0% {
        background-color: transparent;
        width: 0%;
    }

    100% {
        background-color: $red-color;
        width: 60%;
    }
}

.progress-bar__line.progress-bar--js.animate::after {
    animation: 1.5s ease both draw3;
}

@keyframes draw3 {
    0% {
        background-color: transparent;
        width: 0%;
    }

    100% {
        background-color: $red-color;
        width: 65%;
    }
}


.cv {
    margin-top: 60px;
    font-size: 20px;

    &__link {
        font-weight: 600;
        font-size: 1.1em;
        transition: .2s;
        // color: $red-color;

        &:hover {
            color: $red-color;
            text-decoration: underline;
        }
    }

}

@media screen and (max-width: 600px) {

    .about {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .box-about {
        flex-direction: column;

        &__front {
            height: 100%;
            max-width: 100%;
        }

        &-item {
            width: 100%;
            max-height: 400px;
            max-width: none; 
            overflow: hidden;   
        }

        &-item:last-child{
            margin-top: 60px;   
        } 
    }
}