html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.all-page {
    $bg-color: #c4c4c4;
    $text-color: #22222b;
    $gradient: linear-gradient(to top, #bdbdbd, #FFFFFF);
    $dark-color: #22222b; 
    $red-color: rgb(175, 19, 19);
    $_primary-color: #302ae6;
    $secondary-color: #536390;
    $font-color: #424242;
    $bg-color: #fff;
    $heading-color: #292922;
    background-color: $bg-color;
    color: $text-color;

    @import 'header';
    @import 'about-block';
    @import 'portfolio-block';
    @import 'small-features-block';
    @import 'footer';

    .wrapper {
        max-width: 1200px;
        border: 1px solid #424345;
        border-radius: 10px;
        margin: 10px auto;
        min-height: 100vh;
        background-image: $gradient;
        overflow: hidden;
    }

    a {
        text-decoration: none;
        color: $text-color;
    }
    
    &[data-theme="dark"] {
        $bg-color: #272727;
        $text-color: #FFFDEC;
        $gradient: linear-gradient(to bottom, #2f2f2f, #171719);
        $_primary-color: #9a97f3;
        $secondary-color: #818cab;
        $font-color: #e1e1ff;
        $bg-color: #080808;
        $heading-color: #818cab;
        background-color: $bg-color;
        color: $text-color;

        @import 'header';
        @import 'about-block';
        @import 'portfolio-block';
        @import 'small-features-block';
        @import 'footer';

        .wrapper {
            background-image: $gradient;
        }

        a {
            color: $text-color;
        }
    }
}


$text-color: #FFFDEC;
$red-color: red;
$dark-color: #22222b; 
$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;

ul {
    list-style-type: none;
}

@media screen and (max-width: 1200px) {
    .all-page .wrapper {
        margin: 0.6em;
    }
}

@media screen and (max-width: 500px) {
    .all-page .wrapper {
        margin: calc(0.6em / 2);
    }
}





