@import 'header';

html, body {
    height: 100vh;
}

body {
    background-color: #272727;
    font-family: 'Roboto', sans-serif;
    color: #FFFDEC;
}

.wrapper {
    max-width: 1200px;
    border: 2px solid #424345;
    border-radius: 20px;
    margin: 20px auto;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #35393A, #171719);
}

a {
    text-decoration: none;
    color: #FFFDEC;

}

ul {
    list-style-type: none;
}